#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  display: block;
  margin: 20px auto;
}

.files {
  padding: 12px 0;
  font-size: 12px;
  .file {
    display: flex;
    .file_name {
      margin-right: 10px;
    }
  }
}